
@media (max-width: 340px) {
    .hamburgerImg{
           width: 30px;
       }
       nav{
           padding: 15px;
       }
       header{
           background-image: url("../img/mobileHero.jpg");
           height: 180px;
       }
       #logo{
           width: 100px;
       }
       a.navLink{
           padding: 10px;
           font-size: 10px;
       }
   
       .headerText{
           font-size: 15px;
           line-height: 20px;
       }
       .signUp{
           padding: 15px;
       }
       .pageHeading{
           font-size: 15px;
           padding-bottom: 10px;
       }
       .content {
           font-size: 10px;
       }
       .list{
           list-style-type: circle;
           padding-left: 10px;
           padding-bottom: 10px;
       }
       .list li{
           padding: 5px;
       }
       h2{
           font-size: 12px;
       }
       .slide{
           position: relative;
       }
       .content, .news{
           padding: 20px;
       }
       .next, .previous{
           width: 20px;
           height: 20px;
       }
       .previous{
           left: 20px;
       }
       .next:hover, .previous:hover{
           width: 25px;
           height: 25px;
       }
       
       .next{
           right: 20px;
       }
       .slideText{
           padding-bottom: 60px;
           padding-top: 60px;
           padding-left: 40px;
           padding-right: 40px;
           font-size: 10px;
           line-height: 20px;
           height: 150px;
       }
       .slideText h1{
           font-size: 10px;
           line-height: 15px;
           font-size: 10px;
           line-height: 20px;
       }
   
       #noDisplay1, #noDisplay2, #noDisplay3 ,#noDisplay4, #noDisplay5, #noDisplay6{
           display: none;
       }
       
       .background{
           height: 150px;
       }
       .oneBlock:not(:last-child){
           border-bottom: 0.5px solid grey;
       }
       .oneBlock{
           float: none;
           width: 100%;
           padding: 5px;
           display: inline-block
       }
   picture{
       float: left;
       margin-right: 10px;
       margin-bottom: 10px;
       
   }
   .newsPic{
       width: 80px;
   }
   
       .seeAll{
           margin-top: 60px;
           margin-bottom: 50px;
       }
       .month{
           font-size: 8px;
       }
       .newsTitle{
           font-size: 10px;
       }
       footer{ 
           padding: 15px;
       }
       }